* {
    margin: 0;
    padding: 0;
}

html, body, .wrapper1, .wrapper2, .main {
    height: 100%;
}

body {
    color: #4e0002;
    background: #f3de85;
    background-image: url('images/background-lightning.png');
}

.wrapper1  {
    max-width: 1000px;
    min-width: 500px;
    margin: 10px auto;
 
}

.wrapper2 {
    display: table;
    width: 100%;
}

.header, .title-list, .footer {
    background: #bb0b15;
    border-bottom: 2px solid #4e0002;
    border-top: 2px solid #4e0002;
    font-weight: bold;
}

.header {    
    height: 170px;
    text-align: right;
    background-image: url('images/photo-main.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 5%;
    position: relative;
}

h1 {
    font-size: 40px;
    font-family: segoe print, cursive, serif;
    margin: 5px 20px 0 20px;
    
}

h2 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 20px;
    bottom: 20px;
    right: 10px;
    text-align: right;
    position: absolute;
}

.main {
    display: table-row;
    background: #dfac12;
}
   
.achievements, .info {
    box-sizing: border-box;
    padding: 5px 5px;
    margin-top:1%;
    margin-bottom: 1%;
}

.achievements {
    margin-left: 1%;
    float: left;
    width: 65%;
}

.info {
    margin-right: 1%;
    float: right;
    width: 32%;
    
 }

 .title-list {
     padding: 5px;
     font-family: segoe print, cursive, serif;
     font-size: 15px;
     white-space: nowrap;
 }

 .marker {
     width: 25px;
     margin: 0 10px -5px;
 }

 dt, dd {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;

 }

 dt {
    padding: 5px 10px;
    font-weight: bold;
 }

 dd {
    padding: 0 5px 0 30px;
    background-image: url(images/deathly-hallows.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 10px 1px;
 }

.footer {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-family: segoe print, cursive, serif;
    font-size: 15px;
    text-align: right;
}

